body {
   margin: 0;
}

.canvas {
   width: 200px;
   height: 200px;
   background-color: red;
   position: relative;
   overflow: scroll;
}

.box {
   position: absolute;
   background: url(../grid-50x50.png);
   background-size: contain;
}

.box:hover {
   border: 1px solid blue;
}