body {
   margin: 0;
}

.canvas {
   width: 200px;
   height: 200px;
   background-color: red;
   position: relative;
   overflow: scroll;
}

.box {
   position: absolute;
   background: url(../grid-50x50.png);
   background-size: contain;
}

.box:hover {
   border: 1px solid blue;
}

.sprite {
   background-color: rgba(255,0,0,0.5);
   position: absolute;
   border: 1px solid pink;
}

.sprite2 {
   background-color: rgba(0,255,0,0.5);
}

.debug {
   position: fixed;
   background-color: rgba(0,0,0,0.5);
   pointer-events: none;
}

.origin {
   width: 3px;
   height: 3px;
   background-color: pink;
   position: absolute;
}